*{
    font-family: Poppins;
}

header{
    position: fixed;
    width: 79.1%;
    top: 41px;
    left: 50%;
    transform: translateX(-50%);
}
header .nav-header{
    line-height: 63px;
}
header p{
    line-height: 63px;
    margin: 0;
    margin-right: -49px;
}
header .nav-icon{
    display: inherit;
}
header .nav-link{
    width: 60.5%;
}
.nav-header .content{
    margin-right: 4.89px;
}

.no-select {
    user-select: none;
}

.letter-1{
    letter-spacing: 1.6px;
}
.letter-2{
    letter-spacing: 2.4px;
}

.text-13{
    font-size: 13px;
}
.text-13{
    font-size: 14px;
}
.text-15{
    font-size: 15px;
}
.text-16{
    font-size: 16px;
}
.text-24{
    font-size: 24px;
}
.text-48{
    font-size: 48px;
}

.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}

.text-shadow{
    text-shadow: 0px 4px 4px rgba(9, 17, 86, 0.25);
}

.m-0{
    margin: 0;
}

.flex{
    display: flex;
}

.row{
    display: flex;
    flex-direction: row;
}
.justify-content-between{
    justify-content: space-between;
}

.svg-container {
    display: flex;
    align-items: center;
}

.btn-round{
    width: 158px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FF64AE;
    border: none;
    margin-top: 5.5px;
}
